/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px;
} */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */

dl,
ol,
ul {
  list-style-position: inside;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4,
h5,
h6,
p,
a,
td,
th,
.btn {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.aboutus {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.682),
      rgba(0, 0, 0, 0.658)
    ),
    url("./Images/ourservice.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}

.service-bg {
  background-color: #fafafa;
}

.box {
  border-bottom: 20px solid #b91c1c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box ul {
  position: relative;
  background: #fff;
}

.box ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.box ul:hover li {
  opacity: 0.2;
}

.box ul li:hover {
  transform: scale(1.1);

  background: #b91c1c;
  color: #fff;
  opacity: 1;
}
.box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #b91c1c;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}

.box ul li:hover span {
  background: #fff;
  color: #b91c1c;
}
